[Unit]
Description=OpenVPN socket client for SSO
After=network.service

[Service]
Type=exec
WorkingDirectory=/var/www/lydia-vpn
ExecStart=/usr/bin/php /var/www/lydia-vpn/socket-client.php
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
